parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Admin\\Field\\ImageField\:\:new\(\) has parameter \$label with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Admin/Field/ImageField.php

		-
			message: '#^Cannot access property \$publicPath on Symfony\\Component\\AssetMapper\\MappedAsset\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Controller/Admin/CardCrudController.php

		-
			message: '#^Class App\\Controller\\Admin\\CardCrudController extends generic class EasyCorp\\Bundle\\EasyAdminBundle\\Controller\\AbstractCrudController but does not specify its types\: TEntity$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/Admin/CardCrudController.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.CouplingBetweenObjects\)\)\: Unexpected token "\.CouplingBetweenObjects\)", expected ''\)'' at offset 30 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Controller/Admin/CardCrudController.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.UnusedFormalParameter\)\)\: Unexpected token "\.UnusedFormalParameter\)", expected ''\)'' at offset 34 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Controller/Admin/CardCrudController.php

		-
			message: '#^Class App\\Controller\\Admin\\ExtensionCrudController extends generic class EasyCorp\\Bundle\\EasyAdminBundle\\Controller\\AbstractCrudController but does not specify its types\: TEntity$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/Admin/ExtensionCrudController.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.CouplingBetweenObjects\)\)\: Unexpected token "\.CouplingBetweenObjects\)", expected ''\)'' at offset 30 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Controller/Admin/ExtensionCrudController.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.UnusedFormalParameter\)\)\: Unexpected token "\.UnusedFormalParameter\)", expected ''\)'' at offset 34 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Controller/Admin/ExtensionCrudController.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.UnusedFormalParameter\)\)\: Unexpected token "\.UnusedFormalParameter\)", expected ''\)'' at offset 34 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Doctrine/DBAL/FunctionNode/Random.php

		-
			message: '#^Property App\\Entity\\Booster\:\:\$updatedAt \(DateTime\|null\) does not accept DateTimeImmutable\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Entity/Booster.php

		-
			message: '#^Method App\\Entity\\Card\:\:getExtension\(\) should return App\\Entity\\Extension but returns App\\Entity\\Extension\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Entity/Card.php

		-
			message: '#^Property App\\Entity\\Card\:\:\$imageFoilFile \(Symfony\\Component\\HttpFoundation\\File\\File\|null\) is never assigned Symfony\\Component\\HttpFoundation\\File\\File so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Card.php

		-
			message: '#^Property App\\Entity\\Card\:\:\$imageName type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Card.php

		-
			message: '#^Property App\\Entity\\Card\:\:\$updatedAt \(DateTime\|null\) does not accept DateTimeImmutable\.$#'
			identifier: assign.propertyType
			count: 3
			path: src/Entity/Card.php

		-
			message: '#^Method App\\Entity\\DiscordUser\:\:getUserBoosters\(\) return type with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/DiscordUser.php

		-
			message: '#^Method App\\Entity\\DiscordUser\:\:getUserCards\(\) return type with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/DiscordUser.php

		-
			message: '#^Method App\\Entity\\DiscordUser\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/Entity/DiscordUser.php

		-
			message: '#^Method App\\Entity\\DiscordUser\:\:setRoles\(\) has parameter \$roles with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Entity/DiscordUser.php

		-
			message: '#^Property App\\Entity\\DiscordUser\:\:\$roles type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Entity/DiscordUser.php

		-
			message: '#^Property App\\Entity\\DiscordUser\:\:\$userBoosters type mapping mismatch\: property can contain Doctrine\\Common\\Collections\\Collection but database expects Doctrine\\Common\\Collections\\Collection&iterable\<App\\Entity\\UserBooster\>\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/DiscordUser.php

		-
			message: '#^Property App\\Entity\\DiscordUser\:\:\$userBoosters with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/DiscordUser.php

		-
			message: '#^Property App\\Entity\\DiscordUser\:\:\$userCards type mapping mismatch\: property can contain Doctrine\\Common\\Collections\\Collection but database expects Doctrine\\Common\\Collections\\Collection&iterable\<App\\Entity\\UserCard\>\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/DiscordUser.php

		-
			message: '#^Property App\\Entity\\DiscordUser\:\:\$userCards with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/DiscordUser.php

		-
			message: '#^Parameter \#1 \$extension of method App\\Entity\\Booster\:\:setExtension\(\) expects App\\Entity\\Extension, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/Extension.php

		-
			message: '#^Parameter \#1 \$extension of method App\\Entity\\Card\:\:setExtension\(\) expects App\\Entity\\Extension, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Entity/Extension.php

		-
			message: '#^Property App\\Entity\\Extension\:\:\$boosters type mapping mismatch\: property can contain Doctrine\\Common\\Collections\\Collection but database expects Doctrine\\Common\\Collections\\Collection&iterable\<App\\Entity\\Booster\>\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/Extension.php

		-
			message: '#^Property App\\Entity\\Extension\:\:\$boosters with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/Extension.php

		-
			message: '#^Property App\\Entity\\Extension\:\:\$cards type mapping mismatch\: property can contain Doctrine\\Common\\Collections\\Collection but database expects Doctrine\\Common\\Collections\\Collection&iterable\<App\\Entity\\Card\>\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/Extension.php

		-
			message: '#^Property App\\Entity\\Extension\:\:\$cards with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/Extension.php

		-
			message: '#^Property App\\Entity\\Extension\:\:\$updatedAt \(DateTime\|null\) does not accept DateTimeImmutable\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Entity/Extension.php

		-
			message: '#^Cannot call method getUri\(\) on Symfony\\Component\\HttpFoundation\\Request\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/EventListener/JwtInvalid.php

		-
			message: '#^Parameter \#1 \$request of method Lexik\\Bundle\\JWTAuthenticationBundle\\TokenExtractor\\TokenExtractorInterface\:\:extract\(\) expects Symfony\\Component\\HttpFoundation\\Request, Symfony\\Component\\HttpFoundation\\Request\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/EventListener/JwtInvalid.php

		-
			message: '#^Class App\\Repository\\BoosterRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/BoosterRepository.php

		-
			message: '#^Class App\\Repository\\BoosterRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/BoosterRepository.php

		-
			message: '#^Class App\\Repository\\BoosterRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/BoosterRepository.php

		-
			message: '#^Class App\\Repository\\BoosterRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/BoosterRepository.php

		-
			message: '#^Class App\\Repository\\CardRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/CardRepository.php

		-
			message: '#^Class App\\Repository\\CardRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/CardRepository.php

		-
			message: '#^Class App\\Repository\\CardRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/CardRepository.php

		-
			message: '#^Class App\\Repository\\CardRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/CardRepository.php

		-
			message: '#^Method App\\Repository\\CardRepository\:\:findRandomCardId\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/CardRepository.php

		-
			message: '#^Class App\\Repository\\DiscordUserRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/DiscordUserRepository.php

		-
			message: '#^Class App\\Repository\\DiscordUserRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/DiscordUserRepository.php

		-
			message: '#^Class App\\Repository\\DiscordUserRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/DiscordUserRepository.php

		-
			message: '#^Class App\\Repository\\DiscordUserRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/DiscordUserRepository.php

		-
			message: '#^Class App\\Repository\\ExtensionRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/ExtensionRepository.php

		-
			message: '#^Class App\\Repository\\ExtensionRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/ExtensionRepository.php

		-
			message: '#^Class App\\Repository\\ExtensionRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/ExtensionRepository.php

		-
			message: '#^Class App\\Repository\\ExtensionRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/ExtensionRepository.php

		-
			message: '#^Class App\\Repository\\UserBoosterRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserBoosterRepository.php

		-
			message: '#^Class App\\Repository\\UserBoosterRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserBoosterRepository.php

		-
			message: '#^Class App\\Repository\\UserBoosterRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserBoosterRepository.php

		-
			message: '#^Class App\\Repository\\UserBoosterRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserBoosterRepository.php

		-
			message: '#^Class App\\Repository\\UserCardRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserCardRepository.php

		-
			message: '#^Class App\\Repository\\UserCardRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserCardRepository.php

		-
			message: '#^Class App\\Repository\\UserCardRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserCardRepository.php

		-
			message: '#^Class App\\Repository\\UserCardRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserCardRepository.php
